{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ======================================================== -->
<!-- Inicio contenedor: Encabezado encima de tabla -->
<!-- ======================================================== -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Plantas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <!-- Botón para agragar contenido a la tabla-->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregarPlanta">Agregar</button>
        </div>
    </div>
</div>
<!-- ======================================================== -->
<!-- Fin contenedor: Encabezado encima de tabla -->
<!-- ======================================================== -->

<!-- ======================================================== -->
<!-- Inicio contenedor: table responsive -->
<!-- ======================================================== -->
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Limite inferior</th>
                <th scope="col">Limite superior</th>
                <th scope="col">Despacho óptimo</th>
                <th scope="col">Factor de conversión</th>
                <th scope="col">Coef. grado 3</th>
                <th scope="col">Coef. grado 2</th>
                <th scope="col">Coef. grado 1</th>
                <th scope="col">Coef. grado 0</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for planta in plantas %}
                <tr>
                    <td class="{{planta.id}}">{{planta.id}}</td>
                    <td class="{{planta.id}}">{{planta.nombre}}</td>
                    <td class="{{planta.id}}">{{planta.limiteInferior}}</td>
                    <td class="{{planta.id}}">{{planta.limiteSuperior}}</td>
                    <td class="{{planta.id}}">{{planta.despachoOptimo}}</td>
                    <td class="{{planta.id}}">{{planta.factorDeConversion}}</td>
                    <td class="{{planta.id}}">{{planta.coeficienteGrado3}}</td>
                    <td class="{{planta.id}}">{{planta.coeficienteGrado2}}</td>
                    <td class="{{planta.id}}">{{planta.coeficienteGrado1}}</td>
                    <td class="{{planta.id}}">{{planta.coeficienteGrado0}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                            <button value="{{planta.id}}" onclick="editarPlanta(this.value)" type="button" class="btn btn-sm btn-outline-primary">Editar</button>
                            <button value="{{planta.id}}" onclick="eliminarPlanta(this.value)" type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- ======================================================== -->
<!-- Fin contenedor: table-responsive -->
<!-- ======================================================== -->

<!-- ======================================================== -->
<!-- Inicio contenedor: Modal: Agregar -->
<!-- ======================================================== -->
<div class="modal fade" id="modalAgregarPlanta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar planta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form class="row g-3" action="{% url 'agregarPlanta' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" placeholder="Nombre" class="form-control" name="nombre">
                    </div>

                    <div class="col-md-6">
                        <label for="limiteInferior" class="form-label">Limite inferior</label>
                        <input type="number" step="0.00001" placeholder="1" class="form-control" name="limiteInferior">
                    </div>

                    <div class="col-md-6">
                        <label for="limiteSuperior" class="form-label">Limite superior</label>
                        <input type="number" step="0.00001" placeholder="1" class="form-control" name="limiteSuperior">
                    </div>

                    <div class="col-md-6">
                        <label for="despachoOptimo" class="form-label">Despacho óptimo</label>
                        <input type="number" step="0.00001" placeholder="1" class="form-control" name="despachoOptimo">
                    </div>

                    <div class="col-md-6">
                        <label for="factorDeConversion" class="form-label">Factor de conversión</label>
                        <input type="number" step="0.00000001" placeholder="1" class="form-control" name="factorDeConversion">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado3" class="form-label">Coef. grado 3</label>
                        <input type="number" step="0.00000001" placeholder="3" class="form-control" name="coeficienteGrado3">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado2" class="form-label">Coef. grado 2</label>
                        <input type="number" step="0.00000001" placeholder="2" class="form-control" name="coeficienteGrado2">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado1" class="form-label">Coef. grado 1</label>
                        <input type="number" step="0.00000001" placeholder="1" class="form-control" name="coeficienteGrado1">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado0" class="form-label">Coef. grado 0</label>
                        <input type="number" step="0.00000001" placeholder="0" class="form-control" name="coeficienteGrado0">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- ======================================================== -->
<!-- Fin contenedor: Modal: Agregar -->
<!-- ======================================================== -->

<!-- ======================================================== -->
<!-- Inicio contenedor: Modal: Editar -->
<!-- ======================================================== -->
<div class="modal fade" id="modalEditarPlanta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar planta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form class="row g-3" action="{% url 'editarPlanta' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="id" class="form-label">Id</label>
                        <input id="idEditar" type="number" class="form-control" name="id" readonly>
                    </div>
                    
                    <div class="col-md-12">
                        <label for="nombreEditar" class="form-label">Nombre</label>
                        <input id="nombreEditar" type="text" class="form-control" name="nombre">
                    </div>

                    <div class="col-md-6">
                        <label for="limiteInferiorEditar" class="form-label">Limite inferior</label>
                        <input id="limiteInferiorEditar" type="number" step="0.00001" class="form-control" name="limiteInferior">
                    </div>

                    <div class="col-md-6">
                        <label for="limiteSuperiorEditar" class="form-label">Limite superior</label>
                        <input id="limiteSuperiorEditar" type="number" step="0.00001" class="form-control" name="limiteSuperior">
                    </div>

                    <div class="col-md-6">
                        <label for="despachoOptimoEditar" class="form-label">Despacho óptimo</label>
                        <input id="despachoOptimoEditar" type="number" step="0.00001" class="form-control" name="despachoOptimo">
                    </div>

                    <div class="col-md-6">
                        <label for="factorDeConversionEditar" class="form-label">Factor de conversión</label>
                        <input id="factorDeConversionEditar" type="number" step="0.00000001" class="form-control" name="factorDeConversion">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado3Editar" class="form-label">Coef. grado 3</label>
                        <input id="coeficienteGrado3Editar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado3">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado2Editar" class="form-label">Coef. grado 2</label>
                        <input id="coeficienteGrado2Editar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado2">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado1Editar" class="form-label">Coef. grado 1</label>
                        <input id="coeficienteGrado1Editar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado1">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado0Editar" class="form-label">Coef. grado 0</label>
                        <input id="coeficienteGrado0Editar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado0">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- ======================================================== -->
<!-- Fin contenedor: Modal: Editar -->
<!-- ======================================================== -->

<!-- ======================================================== -->
<!-- Inicio contenedor: Modal: Eliminar -->
<!-- ======================================================== -->
<div class="modal fade" id="modalEliminarPlanta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Eliminar planta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form class="row g-3" action="{% url 'eliminarPlanta' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="id" class="form-label">Id</label>
                        <input id="idEliminar" type="number" class="form-control" name="id" readonly>
                    </div>
                    
                    <div class="col-md-12">
                        <label for="nombreEliminar" class="form-label">Nombre</label>
                        <input id="nombreEliminar" type="text" class="form-control" name="nombre">
                    </div>

                    <div class="col-md-6">
                        <label for="limiteInferiorEliminar" class="form-label">Limite inferior</label>
                        <input id="limiteInferiorEliminar" type="number" step="0.00001" class="form-control" name="limiteInferior">
                    </div>

                    <div class="col-md-6">
                        <label for="limiteSuperiorEliminar" class="form-label">Limite superior</label>
                        <input id="limiteSuperiorEliminar" type="number" step="0.00001" class="form-control" name="limiteSuperior">
                    </div>

                    <div class="col-md-6">
                        <label for="despachoOptimoEliminar" class="form-label">Despacho óptimo</label>
                        <input id="despachoOptimoEliminar" type="number" step="0.00001" class="form-control" name="despachoOptimo">
                    </div>

                    <div class="col-md-6">
                        <label for="factorDeConversionEliminar" class="form-label">Factor de conversión</label>
                        <input id="factorDeConversionEliminar" type="number" step="0.00000001" class="form-control" name="factorDeConversion">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado3Eliminar" class="form-label">Coef. grado 3</label>
                        <input id="coeficienteGrado3Eliminar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado3">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado2Eliminar" class="form-label">Coef. grado 2</label>
                        <input id="coeficienteGrado2Eliminar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado2">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado1Eliminar" class="form-label">Coef. grado 1</label>
                        <input id="coeficienteGrado1Eliminar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado1">
                    </div>

                    <div class="col-md-6">
                        <label for="coeficienteGrado0Eliminar" class="form-label">Coef. grado 0</label>
                        <input id="coeficienteGrado0Eliminar" type="number" step="0.00000001" class="form-control" name="coeficienteGrado0">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- ======================================================== -->
<!-- Fin contenedor: Modal: Eliminar -->
<!-- ======================================================== -->

{% endblock %}